// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-mine-shaft: #343434;
$color-mine-shaft-light: #3E3E3E;
$color-tundora: #404040;
$color-tundora-light: #4B4B4B;
$color-black-light: #292929;
$color-mine-shaft-dark: #323232;
$color-gray: #828282;
$color-gray-light: #8E8E8E;
$color-silver-chalice: #9E9E9E;
$color-electric-violet: #7553FF;
$color-malibu: #6BA6FF;
$color-periwinkle: #C5DCFF;
$color-pattens-blue: #D9E8FF;
$color-buddha-gold: #CBA500;
$color-bright-sun: #FFD83B;
$color-bright-sun-light: #FFD83C;
$color-mustard: #FED74B;
$color-cerulean: #099CE8;
$color-black-opacity: rgba(0, 0, 0, 0.25);