<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test project</title>
  <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
  <main>
    <section class="main">
      <div class="main__cards">
        <div class="card">
          <div class="card__badge card__badge__left">
            <span>Новинка</span>
          </div>
          <img src="./assets/img/image1.jpg" alt="image" class="card__image">
          <div class="card__content">
            <div class="card__content__info">
              <div class="card__duration">
                <img class="card__duration__image" src="./assets/icons/clock-circular-outline.svg" alt=" image clock">
                <span>2 часа</span>
              </div>
              <div class="card__title">АКЦИЯ - Обзорная экскурсия по рекам и 
                каналам с остановками Hop on Hop Off 2019
              </div>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Билет на целый день</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Неограниченное число катаний</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>6 остановок у главных достопримечательностей</span>
            </div>
            <div class="card__flight">
              <div class="card__capabilities">
                <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
                <span>Ближайший рейс сегодня</span>
              </div>
              <div class="card__times">
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
              </div>
            </div>
            <div class="card__info">
              <div class="card__price">
                <div class="card__price__main">
                  <span>900</span>
                  <img src="./assets/img/ruble-currency-sign.png" alt="image check mark">
                </div>
                <span class="card__price__pier">1200 р на причале</span>
              </div>
              <button class="card__button">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__badge card__badge__top">
            <span>Новинка</span>
          </div>
          <img src="./assets/img/image1.jpg" alt="image" class="card__image">
          <div class="card__content">
            <div class="card__content__info">
              <div class="card__duration">
                <img class="card__duration__image" src="./assets/icons/clock-circular-outline.svg" alt=" image clock">
                <span>2 часа</span>
              </div>
              <div class="card__title">АКЦИЯ - Обзорная экскурсия по рекам и 
                каналам с остановками Hop on Hop Off 2019
              </div>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Билет на целый день</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Неограниченное число катаний</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>6 остановок у главных достопримечательностей</span>
            </div>
            <div class="card__flight">
              <div class="card__capabilities">
                <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
                <span>Ближайший рейс сегодня</span>
              </div>
              <div class="card__times">
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
              </div>
            </div>
            <div class="card__info">
              <div class="card__price">
                <div class="card__price__main">
                  <span>2900</span>
                  <img src="./assets/img/ruble-currency-sign.png" alt="image check mark">
                </div>
                <span class="card__price__pier">1200 р на причале</span>
              </div>
              <button class="card__button">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__badge card__badge__top">
            <span>Новинка</span>
          </div>
          <img src="./assets/img/image1.jpg" alt="image" class="card__image">
          <div class="card__content">
            <div class="card__content__info">
              <div class="card__duration">
                <img class="card__duration__image" src="./assets/icons/clock-circular-outline.svg" alt=" image clock">
                <span>2 часа</span>
              </div>
              <div class="card__title">АКЦИЯ - Обзорная экскурсия по рекам и 
                каналам с остановками Hop on Hop Off 2019
              </div>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Билет на целый день</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Неограниченное число катаний</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>6 остановок у главных достопримечательностей</span>
            </div>
            <div class="card__flight">
              <div class="card__capabilities">
                <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
                <span>Ближайший рейс сегодня</span>
              </div>
              <div class="card__times">
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
              </div>
            </div>
            <div class="card__info">
              <div class="card__price card__price__one">
                <div class="card__price__main">
                  <span>2900</span>
                  <img src="./assets/img/ruble-currency-sign.png" alt="image check mark">
                </div>
              </div>
              <button class="card__button">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__badge card__badge__left card__badge__blue">
            <span>Новинка</span>
          </div>
          <img src="./assets/img/image2.jpg" alt="image" class="card__image">
          <div class="card__content">
            <div class="card__content__info">
              <div class="card__duration">
                <img class="card__duration__image" src="./assets/icons/clock-circular-outline.svg" alt=" image clock">
                <span>2 часа</span>
              </div>
              <div class="card__title">Обзорная экскурсия по рекам и каналам 
                с остановками Hop on Hop Off 2020
              </div>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Билет на целый день</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Неограниченное число катаний</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>6 остановок у главных достопримечательностей</span>
            </div>
            <div class="card__flight">
              <div class="card__capabilities">
                <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
                <span>Ближайший рейс сегодня</span>
              </div>
              <div class="card__times">
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
              </div>
            </div>
            <div class="card__info">
              <div class="card__price">
                <div class="card__price__main">
                  <span>900</span>
                  <img src="./assets/img/ruble-currency-sign.png" alt="image check mark">
                </div>
                <span class="card__price__pier">1200 р на причале</span>
              </div>
              <button class="card__button">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__badge card__badge__left">
            <span>Круглый год</span>
          </div>
          <img src="./assets/img/image3.jpg" alt="image" class="card__image">
          <div class="card__content">
            <div class="card__content__info">
              <div class="card__duration">
                <img class="card__duration__image" src="./assets/icons/clock-circular-outline.svg" alt=" image clock">
                <span>2 часа</span>
              </div>
              <div class="card__title">Обзорная экскурсия по рекам и каналам 
                с остановками Hop on Hop Off 2020
              </div>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Билет на целый день</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Неограниченное число катаний</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>6 остановок у главных достопримечательностей</span>
            </div>
            <div class="card__flight">
              <div class="card__capabilities">
                <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
                <span>Ближайший рейс сегодня</span>
              </div>
              <div class="card__times">
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
              </div>
            </div>
            <div class="card__info">
              <div class="card__price">
                <div class="card__price__main">
                  <span>900</span>
                  <img src="./assets/img/ruble-currency-sign.png" alt="image check mark">
                </div>
                <span class="card__price__pier">1200 р на причале</span>
              </div>
              <button class="card__button">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="./assets/img/image4.jpg" alt="image" class="card__image">
          <div class="card__content">
            <div class="card__content__info">
              <div class="card__duration">
                <img class="card__duration__image" src="./assets/icons/clock-circular-outline.svg" alt=" image clock">
                <span>2 часа</span>
              </div>
              <div class="card__title">Обзорная экскурсия по рекам и каналам 
                с остановками Hop on Hop Off 2020
              </div>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Билет на целый день</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>Неограниченное число катаний</span>
            </div>
            <div class="card__capabilities">
              <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
              <span>6 остановок у главных достопримечательностей</span>
            </div>
            <div class="card__flight">
              <div class="card__capabilities">
                <img class="card__capabilities__image" src="./assets/icons/check-mark.svg" alt="image check mark">
                <span>Ближайший рейс сегодня</span>
              </div>
              <div class="card__times">
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
                <button class="card__time">12:00</button>
              </div>
            </div>
            <div class="card__info">
              <div class="card__price">
                <div class="card__price__main">
                  <span>900</span>
                  <img src="./assets/img/ruble-currency-sign.png" alt="image check mark">
                </div>
                <span class="card__price__pier">1200 р на причале</span>
              </div>
              <button class="card__button">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>