.main {

    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 27px;

        @include resolution(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        @include resolution(desktop) {
            flex-direction: column;
            justify-content: center;
            margin: 67px 0 50px ;
        }
    }
}
.card {
    position: relative;
    width: 91%;
    border: 0.3px solid $color-gray;
    border-radius: 16px;
    margin-bottom: 30px;

    @include resolution(tablet) {
        width: 400px;
    }

    @include resolution(small-desktop) {
        margin-right: 10px;
    }

    @include resolution(desktop) {
        display: flex;
        width: 1070px;
        margin-bottom: 58px;
        margin-right: 0;

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            display: none;
        }
    }
    

    &__badge {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        @include font(opensans-12-bold);
        width: 29%;
        height: 5.8%;
        padding-top: 2px;
        padding-right: 8px;

        &__left {
            top: 38.5px;
            background: $color-mustard;
            color: $color-mine-shaft-light;
        }

        &__top {
            background: $color-electric-violet;
            color: $color-white;
            border-radius: 15px 0 12px;
        }

        &__blue {
            color: $color-white;
            background: $color-cerulean;
        }

        @include resolution(desktop) {
            width: 152px;
            height: 43px;
            font-size: 16px;

            &__left {
                top: 45px;
            }
        }
    }

    &__image {
        width: 100%;
        height: 218px;
        border-radius: 16px 16px 0 0;

        @include resolution(tablet) {
            height: 350px;
        }

        @include resolution(desktop) {
            position: absolute;
            width: 470px;
            height: 100%;
            border-radius: 16px 0 0 16px;
        }
    }

    &__content {
        position: relative;
        margin: 11px 11px 18px;

        @include resolution(desktop) {
            margin: 5px 25px 25px 495px;
            position: relative;
        }

        &__info {
            @include resolution(desktop) {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }

    &__duration {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include font(opensans-12);
        color: $color-silver-chalice;

        &__image {
            margin-right: 9px;
        }

        @include resolution(desktop) {
            margin-bottom: 14px;
        }
    }

    &__title {
        @include font(opensans-14-bold);
        line-height: 22px;
        color: $color-tundora;
        margin: 11px 0 20px;

        @include resolution(desktop) {
            color: $color-black;
            @include font(opensans-26);
            margin: 12px 15px 11px 0;
        }
    }

    &__capabilities {
        display: flex;
        flex-direction: column;
        @include font(opensans-14);
        color: $color-tundora-light;

        @include resolution(desktop) {
            font-size: 18px;
            color: $color-mine-shaft;

            &__image {
                margin-right: 14px;
            }
        }

        &__item {
            padding-left: 37px;
            margin-bottom: 12px;

            @include resolution(desktop) {
                padding-left: 28px;
            }

            &::before {
                content: "";
                left: 0;
                margin-top: 2px;
                position: absolute;
                background-image: url('./../icons/check-mark.svg');
                width: 16px;
                height: 16px;
            }

            &:nth-child(2){
                margin-bottom: 14px;

                @include resolution(desktop) {
                    margin-bottom: 18px;
                }
            }

            &:nth-child(3){
                margin-bottom: 17px;

                @include resolution(desktop) {
                    margin-bottom: 19px;
                }
            }

            &:nth-child(4){
                display: flex;
                flex-direction: column;

                @include resolution(desktop) {
                    display: inline-block;
                }
            }
        }

        &__times {
            margin-top: 10px;
        }

        &__time {
            width: 63px;
            height: 24px;
            border: none;
            border-radius: 11px;
            background: $color-pattens-blue;
            color: $color-mine-shaft;
            @include font(opensans-14);
            margin-bottom: 5px;
            transition: 1s;
            cursor: pointer;

            @include resolution(desktop) {
                width: 73px;
                height: 28px;
                font-size: 16px;

                &:first-child {
                    margin-left: 6px;
                }
            }

            &__tab {
                margin-left: 4px;

                @include resolution(small-mobile) {
                    margin-left: 0;
                }

                @include resolution(desktop) {
                    margin-left: 0;
                }
            }

            &__yet {
                margin-right: 4px;
            }

            &:hover {
                background: $color-malibu;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        margin-right: 9px;
        margin-left: 6px;

        @include resolution(desktop) {
            margin-top: 2px;
            margin-right: 222px;
            margin-left: -3px;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $color-black;
        height: 38px;

        &__main {
            @include font(opensans-30);

            @include resolution(small-mobile) {
                font-size: 24px;
            }

            @include resolution(desktop) {
                font-size: 36px;
                margin-right: 3px;
            }

            &::after {
                content: "";
                left: 0;
                margin-left: 4px;
                display: inline-block;
                vertical-align: top;
                background-image: url('./../img/ruble-currency-sign.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 19px;
                height: 23px;

                @include resolution(small-mobile) {
                    width: 16px;
                }

                @include resolution(desktop) {
                    width: 21px;
                    height: 26px;
                    margin-left: 6px;
                }
            }
        }

        &__pier {
            @include font(opensans-10);

            @include resolution(desktop) {
                font-size: 14px;
                margin-top: 6px;
            }
        }

        &__one {
            justify-content: center;
            margin-top: 6px;
        }
    }

    &__button {
        width: 165px;
        height: 44px;
        border: 0.5px solid $color-buddha-gold;
        border-radius: 20px;
        background: $color-mustard;
        @include font(opensans-14);
        color: $color-tundora;
        transition: 1s;
        cursor: pointer;
        margin-top: 6px;

        &:hover {
            background: $color-buddha-gold;
        }

        @include resolution(desktop) {
            width: 187px;
            height: 52px;
            background: $color-bright-sun-light;
            color: $color-black-light;
            font-size: 18px;
            padding-right: 5px;
        }
    }
}